<app-header [back]="back"></app-header>
<!-- 
    Task 6 - Text me outside how bow dah?

    There's just some static text on this page. It's actually not bad - the text size is fine,
    contrast is fine. For your own sites here are some general tips for making text more readable:
    - Use the whitespace you have. Semantic HTML helps this a bit (spacing paragraphs, newlines, 
      etc.) but margins and padding (especially from screen or box edges) can help immensely
    - line-height is usually pretty good by default. You could make it bigger, but generally 
      unless you need to you should probably leave it alone. 
    - DO NOT change up typographies. Just don't.
    - DO NOT USE ALL CAPS
    - Reserve underlining for links; don't use underlines for emphasis
    - Left-aligned text (or the dominanty alignment for the relevant language) always. Justified
      text is not as easy to read because it messes with the consistent whitespacing. 
    - Check how your text responds to enlargement.

    With that said, the best thing you can do is hand over control of these things to reader mode.
    Unfortunately, it's not very standard how to get that lovely little icon to show up. The short 
    answer is our old friend: proper semantic HTML markup. 

    In Firefox, this is enabled by default. In Chrome, you can theoretically enable this using 
    chrome://flags/#enable-reader-mode, although frankly it took significantly more effort to 
    get it to work with the Google DOM Distiller. Bonus points if you can get it to work. 

    You'll notice that this is a <div> with some margin - you can change it to the right tag to 
    get reader view to show up in Firefox. 

    You're all done! Head on over to the exercise-3 branch to learn all about some tools to help 
    evaluate the accessibility of a site.
    
    References https://accessibility.huit.harvard.edu/design-readability; 
               https://accessibility.huit.harvard.edu/structure;
               https://help.theopenscholar.com/formatting-text-correctly-page;
               https://www.ctrl.blog/entry/browser-reading-mode-metadata.html 
 -->
<app-content class="text-gray-900">
    <div class="mb-4">Riley is very sensitive so please direct all complaints to <span class="font-mono">/dev/null</span>
    </div>
    <div class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="mb-4">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaqu ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim ipsamvoluptatem quiavoluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatemsequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
        nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </div>
</app-content>
