<app-header [back]="back"></app-header>
<app-content>
    <div class="fixture-container">
        <div class="left-arrow"><span class="material-icons cursor-pointer">arrow_back</span></div>
        <ng-container *ngFor="let fixture of fixtures">
            <app-fixture class="fixture" [fixture]="fixture" [mood]="getMoodForFixture(fixture)"></app-fixture>
        </ng-container>
        <div class="right-arrow"><span class="material-icons cursor-pointer">arrow_forward</span></div>
    </div>
</app-content>