@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Task 3 - Make like OJ and focus
    
    Many users use the keyboard to navigate your site. They often use visual cues such as the
    outline that happens when you focus an element. This doesn't mean they can't use the input,
    it just means that they will have a more frustrating experience because they won't know
    what is focused. 

    Many users with motor disibilities use only the keyboard. This can include tremors or other
    obstacles to fine motor control. It's also generally easier for a blind person to use just a 
    keyboard. I personally prefer to use the keyboard so this would be an issue for me as well 
    just by force of habit.

    Learn more at https://webaim.org/techniques/keyboard/ (and yes, I stole these from the article 
    linked in the previous exercise as well)

    Exterminate!

    That concludes our quick primer - now onto the main course in branch exercise-2!
*/
input:focus {
    outline: none !important;
}

body {
    pointer-events: none; /* For Task 3, except this disables the mouse. */
}
